<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/css/dash.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="header">
  <h1>WELCOME <%= name %></h1>
  <!--<p>My supercool header</p>-->
</div>
<img class="image" src="/assets/img/hitam logo.jpg" alt="Logo img">
<nav class="w3-bar w3-green">
    <a href="#home" class="w3-button w3-bar-item">Home</a>
    <a href="#cdcattendance" class="w3-button w3-bar-item">CDC ATTENDANCE</a>
    <a href="#trainings" class="w3-button w3-bar-item">TRAININGS</a>
    <a href="#drives" class="w3-button w3-bar-item">DRIVES</a>
    <button type='button' class='button' onclick="window.location.href='/login'"><img src="/assets/img/icons/logout.png"></button> </div>
  </nav>
  <h2>PERSONAL DETAILS</h2>
  <!--<p>Move the mouse over the table rows to see the effect.</p>-->
  <form name='' id='' action='' method='post'>
  <table>
    <!--<tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>-->
    <input type="hidden" name="_id" value="{{users._id}}"> 
    <tr>
      <td>NAME</td>
      <td><%= name %></td>
      <td><input type="button" name='edit' value='edit' onclick="window.location.href='/update'"></td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td><%= email %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>ROLL NO</td>
      <td><%= roll %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>DEPARTMENT</td>
      <td><%= dep %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>YEAR OF PASSING</td>
      <td><%= yop %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>MOBILE NUMBER</td>
      <td><%= phno %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>DATE OF BIRTH</td>
      <td><%= dob %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td><%= gender %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>FATHER NAME</td>
      <td><%= fname %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>FATHER'S MOBILE NUMBER</td>
      <td><%= fphno %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>MOTHER NAME</td>
      <td><%= mname %></td>
      <td>--</td>
    </tr>
    <tr>
      <td>MOTHER'S MOBILE NUMBER</td>
      <td><%= mphno %></td>
      <td>--</td>
    </tr>
    
    
    <!--<tr>
      <td>Cleveland</td>
      <td>Brown</td>
      <td>$250</td>
    </tr>-->
  </table>
</form>
  <!--<form name='' id='' action='' method='post'>
    <input type='text' name='txt_category' id='category' value='$category' disabled>
    <input type='text' name='txt_stage' id='stage' value='$stage' disabled>
    <select disabled>
        <option>I am Option 1</option>
         <option>I am Option 2</option>
    </select>
    <input type='checkbox' name='txt_approve' id='approve' value='$approve' disabled>
    <input type="button" name='edit' value='edit'>
    <input type="button" name='save' value='save'>
</form>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    
 $(document).ready(function(){

     $("form input[type=text],form input[type=checkbox]").prop("disabled",true);

     $("input[name=edit]").on("click",function(){

             $("input[type=text],input[type=checkbox],select").removeAttr("disabled");
     })

     $("input[name=save]").on("click",function(){

         $("input[type=text],input[type=checkbox],select").prop("disabled",true);
     })


 })
 function mysaveFunction() {   
    document.getElementById('fname').disabled = true;
    document.getElementById('fphno').disabled = true;
    document.getElementById('mname').disabled = true;
    document.getElementById('mphno').disabled = true;
    }
function myFunction() {   
  document.getElementById('fname').disabled = false;
  document.getElementById('fphno').disabled = false;
  document.getElementById('mname').disabled = false;
  document.getElementById('mphno').disabled = false;
}
</script>
  
</body>
</html>

